.header {
    display: flex;
    width: 100vw;
    background-color: $black;
    justify-content: space-between;

    button {
        background-color: transparent;
        border: none;
        padding: 0 40px;
    }
}