.moviePosterSection {
    padding: 10px 40px;
    color: white;
    display: flex;
    gap: 20px;

    @include mobile {
        flex-direction: column;
    }

    h1 {
        margin-bottom: 15px;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        button {
            background: #fff;
            border: none;
            padding: 10px;
            
            &:hover {
                background-color: #d6d6d6;
            }

            &:active {
                background-color: #adadad;
            }

            @include mobile {
                margin-top: 40px;
            }
        }
    }
}

.ratings {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    h1 {
        margin-bottom: 5px;
    }
}

.title {
    margin-left: 40px;
    color: white;
    font-size: 40px;
}